/* =S Css Reset
----------------------------------------------- */
body, div, h1, h2, h3, h4, h5, h6, button, input, textarea, th, td { margin:0px; padding:0px; }
body, div, button, input, select, textarea { font-size: 20px; font-family: Microsoft YaHei,sans-serif; line-height: 100%; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
a { text-decoration: none; }
fieldset, img { border: 0px; }
button, input, select, textarea { font-size:100%; }

/* =S Global
----------------------------------------------- */
.item, .link, .txt-wrap, .txt, .btn, .icon, .pic, .cover, .num, .win { position:absolute;}
.link { left: 0px; top: 0px; z-index:9;}
.txt { left: 0px; z-index:7;}
.txt-wrap { z-index:6;}
.icon { z-index:5;}
.cover { z-index:4;}
.pic { z-index:3;}
.btn { text-align: center;}

body, .wrapper {
    height: 720px;
    width: 1280px;
    background: transparent;
    /*overflow: hidden;*/
    position: relative;
}
body {
   /* background-color: #000;*/
    color: #fff;
}
.logo {
	left:57px;
	position:absolute; 
	top:47px; 
}
.logo .txt {
	height:36px;
	line-height:36px;
	left:181px;
	width:400px;
}
.logo .txt-a {
	color:#525252;
	font-size:24px;
}
.logo .txt-b {
	color:#343535;
	font-size:36px;
}
.logo .txt-b span {
	color:#101010;
	font-size:26px;
}
.adfont {
	left:859px;
	position:absolute; 
	top:59px; 
}
/* index ----------------------------------------------- */
.poster-a {
	left:20px; 
	position:absolute; 
	top:125px;
}
.poster-a .item,
.poster-a .item .link {
	height:422px;
	width:620px;
}
.poster-a .item .link {
	background:url(../images/picBg01.png) no-repeat;
}
.poster-a .pic,
.poster-a .pic img {
	height:405px;
	width:602px;
}
.poster-a .pic {
	left:9px; 
	top:8px;
}
.poster-a .txt-wrap {
	background:url(../images/index-pic01_txtbg.png) no-repeat;
	height:70px;
	left:11px;
	top:341px;
	width:596px;
}
.poster-a .txt {
	font-size:36px;
	height:70px;
	line-height:70px;
	left:18px;
	width:560px;
}
.poster-a .item_focus .link { 
	background:url(../images/picBg01_focus.png) no-repeat;
}
.poster-b {
	left:637px; 
	position:absolute; 
	top:128px;
}
.poster-b .item,
.poster-b .item .link {
	height:212px;
	width:311px;
}
.poster-b .item .link01 {
	background:url(../images/picBg02.png) no-repeat;
}
.poster-b .item .link02 {
	background:url(../images/picBg03.png) no-repeat;
}
.poster-b .pic,
.poster-b .pic img {
	height:199px;
	width:298px;
}
.poster-b .pic {
	left:6px; 
	top:6px;
}
.poster-b .txt-wrap {
	background:url(../images/index-pic02_txtbg.png) no-repeat;
	height:50px;
	left:9px;
	top:153px;
	width:293px;
}
.poster-b .txt {
	font-size:24px;
	height:50px;
	line-height:50px;
	left:16px;
	width:260px;
}
.poster-b .item_focus .link01 { 
	background:url(../images/picBg02_focus.png) no-repeat;
}
.poster-b .item_focus .link02 { 
	background:url(../images/picBg03_focus.png) no-repeat;
}
.poster-c {
	left:828px; 
	position:absolute; 
	top:109px;
}
.poster-c .item {
	background:url(../images/posterBg.jpg) no-repeat;
	height:570px;
	width:452px;
}
.poster-c .pic {
	left:36px; 
}
.poster-c .pic,
.poster-c .pic img {
	height:515px;
	width:391px;
}
.poster-c .item_focus {
	background:url(../images/posterBg_focus.jpg) no-repeat;
}
.poster-d {
	left:798px; 
	position:absolute; 
	top:68px;
}
.poster-d .item {
	background:url(../images/picBg04.png) no-repeat;
	height:602px;
	width:482px;
}
.poster-d .pic {
	left:31px;
	top:29px; 
}
.poster-d .pic,
.poster-d .pic img {
	height:543px;
	width:410px;
}
.poster-d .item_focus {
	background:url(../images/picBg04_focus.png) no-repeat;
}

.menu {
	left:124px;
	position:absolute; 
	top:579px; 
}
.menu .item {
	height:93px;
	width:93px;
}
.menu .item .icon,
.menu .item .icon img {
	height:54px;
	width:60px;
}
.menu .item .icon {
	height:54px;
	left:16px;
	top:6px;
	width:60px;
}
.menu .item .icon01 { 
	background:url(../images/menu/icon01.png) no-repeat;
}
.menu .item .icon02 { 
	background:url(../images/menu/icon02.png) no-repeat;
}
.menu .item .icon03 { 
	background:url(../images/menu/icon03.png) no-repeat;
}
.menu .item .icon04 { 
	background:url(../images/menu/icon04.png) no-repeat;
}
.menu .item .icon05 { 
	background:url(../images/menu/icon05.png) no-repeat;
}
.menu .item .icon06 { 
	background:url(../images/menu/icon06.png) no-repeat;
}
.menu .item .icon07 { 
	background:url(../images/menu/icon07.png) no-repeat;
}
.menu .item .icon08 { 
	background:url(../images/menu/icon08.png) no-repeat;
}
.menu .item .txt {
	color:#272727;
	font-size:18px;
	top:66px;
	text-align:center;
	width:93px;
}
.menu .item_focus {
	background:url(../images/menu-bg_focus.png) no-repeat;
}
.menu .item_focus .txt { 
	color:#fff;
}
.menu .item_focus .icon01 { 
	background:url(../images/menu/icon01_focus.png) no-repeat;
}
.menu .item_focus .icon02 { 
	background:url(../images/menu/icon02_focus.png) no-repeat;
}
.menu .item_focus .icon03 { 
	background:url(../images/menu/icon03_focus.png) no-repeat;
}
.menu .item_focus .icon04 { 
	background:url(../images/menu/icon04_focus.png) no-repeat;
}
.menu .item_focus .icon05 { 
	background:url(../images/menu/icon05_focus.png) no-repeat;
}
.menu .item_focus .icon06 { 
	background:url(../images/menu/icon06_focus.png) no-repeat;
}
.menu .item_focus .icon07 { 
	background:url(../images/menu/icon07_focus.png) no-repeat;
}
.menu .item_focus .icon08 { 
	background:url(../images/menu/icon08_focus.png) no-repeat;
}
.nav {
	background:url(../images/left-bg.png) no-repeat;
	left:0;
	position:absolute; 
	top:109px;
	height:611px;
	width:265px;
}
.nav .item {
	background:url(../images/nav-bg.png) no-repeat;
	height:114px;
	width:265px;
}
.nav .item .txt {
	color:#5c5c5c;
	font-size:26px;
	text-align:center;
	top:25px;
	line-height:60px;
	height:60px;
	width:262px;
}
.nav .item_focus {
	background:url(../images/nav-bg_focus.png) no-repeat;
}
.nav .item_select {
	background:url(../images/nav-bg_select.png) no-repeat;
}
.nav .item_focus .txt,
.nav .item_select .txt { 
	color:#1b1b1b;
	font-size:32px;
	left:37px;
	width:220px;
}

/* pages ------------------------------------------------*/
.pages {
	background:url(../images/pageBg.png) no-repeat;
	height:33px;
	left:81px;
	position:absolute; 
	top:120px;
	width:333px;
}
.pages .p01,
.pages .p02,
.pages .p03,
.pages .item {
	height:33px;
	left:0;
	position:absolute;
	top:0;
	width:103px;
}
.pages .p02 { left:115px;}
.pages .p03 { left:230px;}
.pages .item .icon {
	left:18px;
	top:9px;
}
.pages .item .txt {
	font-size:18px;
	height:33px;
	line-height:33px;
	left:43px;
	width:55px;
}
.pages .p01 .item_focus {
	background:url(../images/pageBg01_focus.png) no-repeat;
}
.pages .p02 .item_focus {
	background:url(../images/pageBg02_focus.png) no-repeat;
}
.pages .p03 .item_focus {
	background:url(../images/pageBg03_focus.png) no-repeat;
}
.pages-a {
	left:88px;
	position:absolute; 
	top:428px;
}
.pages-a .item {
	background:url(../images/pageBg04.png) no-repeat;
	height:34px;
	width:68px;
}
.pages-a .item .icon {
	left:8px;
	top:10px;
}
.pages-a .item .txt {
	font-size:18px;
	height:34px;
	line-height:34px;
	left:24px;
	width:43px;
}
.pages-a .txt-num {
	color:#7e0d2a;
	font-size:18px;
	height:34px;
	line-height:34px;
	left:68px;
	text-align:center;
	width:70px;
}
.pages-a .item_focus {
	background:url(../images/pageBg04_focus.png) no-repeat;
}
.pages-b {
	background:url(../images/pageBg-b.png) no-repeat;
	height:33px;
	left:49px;
	position:absolute; 
	top:148px;
	width:298px;
}
.pages-b .p01,
.pages-b .p02,
.pages-b .p03,
.pages-b .item {
	height:33px;
	left:0;
	position:absolute;
	top:0;
	width:78px;
}
.pages-b .p02 { left:140px;}
.pages-b .p03 { left:220px;}
.pages-b .item .icon {
	left:9px;
	top:9px;
}
.pages-b .item .txt {
	font-size:18px;
	height:33px;
	line-height:33px;
	left:28px;
	width:45px;
}
.pages-b .p-num {
	left:80px;
	position:absolute; 
	top:0;
}
.pages-b .p-num .txt {
	color:#ffcc00;
	font-size:18px;
	height:33px;
	line-height:33px;
	text-align:center;
	width:58px;
}
.pages-b .p01 .item_focus {
	background:url(../images/pageBg-b01_focus.png) no-repeat;
}
.pages-b .p02 .item_focus {
	background:url(../images/pageBg-b02_focus.png) no-repeat;
}
.pages-b .p03 .item_focus {
	background:url(../images/pageBg-b03_focus.png) no-repeat;
}
.pages-b .p01 .item_lost .txt,
.pages-b .p02 .item_lost .txt,
.pages-b .p03 .item_lost .txt {
	color:#999;
}


/* form ------------------------------------------------*/
.form {
	left:465px;
	position:absolute; 
	top:123px;
}
.form .txt {
	color:#121212;
	font-size:18px;
	height:30px;
	line-height:30px;
}
.form .txt01 {
	width:48px;
}
.form .txt02 {
	left:119px;
	width:120px;
}
.form .input { 
	left:48px;
	position:absolute;
	top:0;
}
.form .input,
.form .input .item {
	height:30px;
	width:62px;
}
.form .input .item {
	background:url(../images/inputBg.png) no-repeat;
	color:#981233;
	line-height:30px;
	text-align:center;
}
.form .input .item_focus {
	background:url(../images/inputBg_focus.png) no-repeat;
}

/* list ------------------------------------------------*/
.list {
	left:81px;
	position:absolute;
	top:169px;
}
.list .item {
	background:url(../images/listBg.png) no-repeat;
	height:39px;
	width:360px;
}
.list .item .icon {
	background:url(../images/icon-point.png) no-repeat;
	height:24px;
	left:15px;
	top:9px;
	width:25px;
}
.list .item .txt {
	color:#000;
	height:39px;
	line-height:39px;
	left:50px;
	width:300px;
}
.list .item_focus {
	background:url(../images/listBg_focus.png) no-repeat;
}
.list .item_focus .icon {
	background:url(../images/icon-point_focus.png) no-repeat;
}
.list .item_focus .txt {
	color:#fff;
}
.list-a { left:278px;}
.list-a .item {
	background:url(../images/list02.png) no-repeat;
	height:39px;
	width:546px;
}
.list-a .item .txt  {
	width:480px;
}
.list-a .item_focus {
	background:url(../images/list02_focus.png) no-repeat;
}

/* details ------------------------------------------------*/
.details {
	left:56px;
	position:absolute;
	top:150px;
}
.details .txt {
	color:#333;
	left:22px;
	width:700px;
}
.details .txt-title {
	color:#000;
	font-size:30px;
}
.details .txt-info {
	font-size:24px;
	line-height:36px;
}
.details .txt-info span {
	color:#ba1107;
}
.tv-num {
	background:url(../images/set-bg.png) no-repeat;
	height:100px;
	left:73px;
	position:absolute;
	top:470px;
	width:684px;
}
.tv-num .item {
	color:#191919;
	font-size:18px;
	height:48px;
	line-height:48px;
	left:2px;
	text-align:center;
	top:6px;
	width:50px;
}
.tv-num .item_focus {
	background:url(../images/num_focus.png) no-repeat;
}

/* round-broadcast ------------------------------------------------*/
.column-list {
	left:55px;
	position:absolute;
	top:196px;
}
.column-list .item {
	height:40px;
	width:284px;
	z-index:4;
}
.column-list .item .txt {
	color:#666464;
	font-size:24px;
	height:40px;
	line-height:40px;
	text-align:center;
	width:284px;
}
.column-list .item_focus {
	background:url(../images/column-listBg_focus.png) no-repeat;
}
.column-list .item_focus .txt {
	color:#fff;
}
.video {
	left:370px;
	position:absolute;
	top:145px;
}
.video .item {
	height:463px;
	width:868px;
}
.video .item .link,
.video .item .pic,
.video .item .pic img {
	height:457px;
	width:862px;
}
.video .item .pic {
	top:3px;
	left:3px;
}
.video .item_focus .link {
	border:solid 3px #c73452;
}

/* order ------------------------------------------------*/
.order {
	left:163px;
	position:absolute;
	top:92px;
}
.order .txt01 {
	font-size:26px;
	line-height:32px;
	width:825px;
}
.order .txt02 {
	color:#fff8c0;
	font-size:24px;
	top:218px;
	width:955px;
}
.order .txt03 {
	color:#fdff6b;
	top:441px;
	width:955px;
}
.order .txt04 {
	color:#4075ae;
	font-size:25px;
	left:65px;
	top:33px;
	text-align:right;
	width:105px;
}
.order .txt05 {
	color:#ff2500;
	font-size:25px;
	left:170px;
	top:33px;
	width:350px;
}
.order .line {
	background:url(../images/line3.png) repeat;
	left:0;
	position:absolute;
	top:254px;
	height:2px;
	width:955px;
}
.order .module {
	background:url(../images/trans90.png) repeat;
	left:155px;
	position:absolute;
	top:122px;
	height:70px;
	width:652px;
}
.order .module .txt {
	color:#fff8c0;
	font-size:30px;
	line-height:70px;
	left:18px;
	width:470px;
}
.order .con-bg {
	background:url(../images/con-bg.jpg) no-repeat;
	left:189px;
	position:absolute;
	top:73px;
	height:198px;
	width:592px;
}

/* btns ------------------------------------------------*/
.btn-a {
	left:500px;
	position:absolute;
	top:9px;
}
.btn-a .item,
.btn-a .item .link,
.btn-a .item .txt {
	color:#fff;
	font-size:28px;
	text-align:center;
	line-height:52px;
	left:0;
	height:60px;
	width:144px;
}
.btn-a .item {
	background:url(../images/btn01.png) no-repeat;
}
.btn-a .item_focus {
	background:url(../images/btn01_focus.png) no-repeat;
}
.btn-b {
	left:422px;
	position:absolute;
	top:285px;
	z-index:6;
}
.btn-b .item {
	height:54px;
	width:142px;
}
.btn-b .item .txt {
	color:#fff;
	font-size:26px;
	text-align:center;
	line-height:45px;
	height:45px;
	width:142px;
}
.btn-b .item {
	background:url(../images/btn02.png) no-repeat;
}
.btn-b .item_focus {
	background:url(../images/btn02_focus.png) no-repeat;
}


/* once-buy ------------------------------------------------*/
.once-buy {
	left:0;
	position:absolute;
	top:108px;
}
/*.once-buy .txt01 {
	color:#000;
	font-size:20px;
	left:10px;
	top:418px;
	width:1260px;
}
.once-buy .txt01 span { 
	color:#c60505;
	font-size:31px;
}
.once-buy .txt02 {
	color:#000;
	font-size:20px;
	top:450px;
	width:1260px;
}
.once-buy .txt02 span { 
	font-size:16px;
}*/

/* pjf edit css=========================================================================*/
/* S= Page order
----------------------------------------------- */
.j-btnA,
.j-btnA .item,
.j-btnA .item .txt {
    height: 59px;
    width: 148px;
    position: absolute;
}
.j-btnA .item {
    background-repeat: no-repeat;
    background-image: url("../images/j-btn148x59-item.png");
    left: 0px;
    top: 0px;
}
.j-btnA .item:hover,
.j-btnA .item_focus {
    background-image: url("../images/j-btn148x59-item_focus.png");
}
.j-btnA .item .txt {
    height: 30px;
    text-align: center;
    top: 16px;
}
.j-btn-back,
.j-btn-back .item {
    height: 70px;
    width: 132px;
    position: absolute;
}
.j-btn-back .item {
    background: url("../images/j-btn-back-item.png") no-repeat;
	color:#fff;
	font-family: Microsoft YaHei,sans-serif;
	font-size:24px;
	line-height:41px;
	text-align:center;
    left: 0;
    top: 0;
}
.j-btn-back .item:hover,
.j-btn-back .item_focus {
    background: url("../images/j-btn-back-item_focus.png") no-repeat;
}

.j-postTitle {
    color: #fff;
    font-size: 27px;
    height: 32px;
    width: 355px;
    position: absolute;
    left: 49px;
    top: 89px;
}
.j-postPic {
    position: absolute;
    left: 60px;
    top: 133px;
}
.j-postPrice,
.j-postDateTime {
    color: #ff2500;
    width: 190px;
    position: absolute;
    left: 490px;
}
.j-postPrice {
    top: 206px;
}
.j-postDateTime {
    top: 257px;
}
.j-recommend .j-recommendTitle {
    color: #bc2c13;
    font-size: 27px;
    height: 44px;
    width: 351px;
    position: absolute;
    left: 863px;
    top: 156px;
    text-align: center;
}
.j-recommend .j-recommendPrice {
    color: #b24509;
    font-size: 59px;
    font-family: "SimHei";
    font-weight: bold;
    height: 62px;
    width: 74px;
    position: absolute;
    left: 1039px;
	z-index:6;
}
.j-recommend .j-bg {
    background: url("../images/bg-buy-hot.jpg") no-repeat;
    height: 217px;
    width: 380px;
    position: absolute;
    left: 852px;
	top:382px;
	z-index:5;
}
.j-recommendA .j-recommendPrice {
    top: 221px;
}
.j-recommendB .j-recommendPrice {
    top: 510px;
}
.j-recommend .j-btnA {
    left: 976px;
}
.j-recommendA .j-btnA {
    top: 328px;
}
.j-recommendB .j-btnA {
    top: 606px;
}

.j-logoPageTitle {
    color: #6a6a6b;
    font-size: 36px;
    position: absolute;
    left: 236px;
    top: 47px;
}
.j-logoPageTitle span.f {
    font-size: 26px;
}

.j-tipsBox {
    background: url("../images/j-tipsBox.jpg") no-repeat;
    height: 386px;
    width: 1000px;
    position: absolute;
    left: 129px;
    top: 196px;
}
.j-tipsBox .j-title,
.j-tipsBox .j-cont {
    position: absolute;
    width: 443px;
    text-shadow: 0 3px 3px rgba(13, 4, 8, .9);
}
.j-tipsBox .j-title {
    height: 32px;
    left: 450px;
    top: 76px;
}
.j-tipsBox .j-cont {
    line-height: 120%;
    left: 500px;
    top: 106px;
}
.j-tipsBox .j-effectLight {
    height: 164px;
    width: 283px;
    z-index: 999;
    position: absolute;
    left: 3px;
    top: 222px;
}
.j-tipsBox .j-cornerTxt {
    height: 75px;
    width: 175px;
    position: absolute;
    left: 20px;
    top: 280px;
}

/* E= Page order */

/* E= Page order */
.packages,
.packages div {
	font-family: "SimHei";
}
.packages{
	position: absolute;
	width: 1012px;
	height: 472px;
	left: 140px;
	top:168px;
	color: #272727;
	
}
.packages .seniorVip{
	position: absolute;
	height: 464px;
	width: 312px;
	left:4px;
	top:4px;
}
.packages .seniorVip .zTop{
	color: #FFBA02;
    height: 32px;
    line-height: 32px;
    text-align:center;
	background-color: #2b2b2b;
	border-right: 1px solid #7F7F7F;
}
.packages .seniorVip .zMiddle{
	height: 392px;
	position:relative;
	border-left: 1px solid #7c7c7c;
}
.packages .seniorVip .zBottom{
	height: 71px;
	background-color: #444444;
}
.packages .ordinary{
	position: absolute;
	height: 464px;
	width: 693px;
	left:316px;
	top:4px;
}
.packages .ordinary .zTop{
	height: 32px;
	position:absolute;
	width:100%;top:0;
	background-color: #2b2b2b;
	line-height: 32px;
	text-align: center;
	width: 172px;
	color:#ffba02;
	border-right: 1px solid #7f7f7f;
}
.packages .ordinary .zMiddle{
	height: 392px;
	position:relative;
	border-right: 1px solid #7c7c7c;
}
.packages .ordinary .zBottom{
	height: 71px;
	background-color: #444444;
}
.packages .ordinary .zMiddle .item{
	position: absolute;
	width: 173px;
	height: 360px;
	left:0;top:0;
	padding-top:32px;
	background: url("../images/z-icon-001.jpg") 0 32px no-repeat;
}
.packages .seniorVip .zMiddle .item{
	background: url("../images/z-icon-002.jpg") 0 32px no-repeat;
	height: 392px;
	width:311px;
}
.packages .item .icon-btn{
	position: absolute;
	height: 70px;
	width: 132px;
	top:324px;
	left:20px;
	background: url("../images/z-icon-003.png") center top no-repeat;
}
.packages .item_focus .icon-btn,.packages .item:hover .icon-btn{
	background: url("../images/z-icon-003-1.png") center top no-repeat;
}
.packages .item_select .icon-btn{
	background: url("../images/z-icon-003-2.png") center top no-repeat;
}
.packages .ordinary .icon-img{
	height: 80px;
	position:relative;
	margin-top: 31px;
}
.packages .ordinary .icon-img div{
	position: absolute;
	width: 100%;
	top:63px;
	font-size:18px;
	text-align: center;
}
.packages .ordinary .icon1{
	background: url("../images/z-icon-004.png") center top no-repeat;
}
.packages .ordinary .icon2{
	background: url("../images/z-icon-005.png") center top no-repeat;
}
.packages .ordinary .icon3{
	background: url("../images/z-icon-006.png") center top no-repeat;
}
.packages .ordinary .icon4{
	background: url("../images/z-icon-007.png") center top no-repeat;
}

.packages .ordinary .item_focus .icon1,.packages .ordinary .item:hover .icon1{
	background: url("../images/z-icon-004-1.png") center top no-repeat;
}
.packages .ordinary .item_focus .icon2,.packages .ordinary .item:hover .icon2{
	background: url("../images/z-icon-005-1.png") center top no-repeat;
}
.packages .ordinary .item_focus .icon3,.packages .ordinary .item:hover .icon3{
	background: url("../images/z-icon-006-1.png") center top no-repeat;
}
.packages .ordinary .item_focus .icon4,.packages .ordinary .item:hover .icon4{
	background: url("../images/z-icon-007-1.png") center top no-repeat;
}
.packages .ordinary .price{
	text-align: center;
	color: #000000;
	font-size: 23px;
	position: absolute;
	width: 100%;
	top: 155px;
}
.packages .ordinary .des{
	color: #333333;
	font-size: 18px;
	line-height: 22px;
	position: absolute;
	top: 187px;
	width: 149px;
	left: 18px;
}

.packages .zBottom .item .icon-btn{
	
}
.packages .seniorVip .icon-img{
	height: 80px;
	position:relative;
	margin-top: 27px;
}
.packages .seniorVip .icon-img div{
	position: absolute;
	width: 100%;
	top:59px;
	font-size:25px;
	text-align: center;
}
.packages .seniorVip .icon1{
	background: url("../images/z-icon-008.png") center top no-repeat;
}
.packages .seniorVip .item_focus .icon1,.packages .seniorVip .item:hover .icon1{
	background: url("../images/z-icon-008-1.png") center top no-repeat;
}
.packages .seniorVip .price{
	text-align: center;
	color: #000000;
	font-size: 23px;
	margin-top: 15px;
	position: relative;
}
.packages .seniorVip .price span{
	font-size: 35px;
}
.packages .seniorVip .del{
	color: #9f9f9f;
	font-size: 19px;
	margin-top: 5px;
}
.packages .seniorVip .del span{
	font-size: 19px;
	text-decoration: line-through;
}
.packages .seniorVip .desVip{
	left: 40px;
    position: absolute;
    top: 212px;
    width: 232px;
}
.packages .seniorVip .z-title{
	position: absolute;
	left:0px;
}

.packages .z-top{
	position: absolute;
	left:0;top:0;
	width:124px;
	height:124px;
	z-index:22;
	background: url("../images/top-icon.png") 0 top no-repeat;
}
.packages .seniorVip .des{
	line-height: 22px;
	left: 60px;
    line-height: 22px;
    position: absolute;
    font-size: 18px;
}
/* pjf edit css=========================================================================*/





