@charset "utf-8";
/* CSS Document */
body{
	position:absolute;
	width:640px;
	height:530px; 
	margin:0;
	padding:0;
	background:url(../images/play_bg.png) no-repeat;
	}	
.content{
	position:absolute;
	width:500px;
	height:271px;
	left:73px;
	top:133px;	
	background:url(../images/play_contentbg.png) no-repeat;
	font-family:"黑体";
	font-size:22px;
	color:#fff;
	text-align:center;
	}	
.tap_l{
	position:absolute;
	width:105px;
	height:30px;
	left:66px;
	top:114px;
	border:0px;
	font-family:"黑体";
	font-size:22px;
	color:#fff;
	text-align:center;
	padding-top:7px;
	background:url(../images/play_boxse.png) no-repeat;
	}	
.tap_m{
	position:absolute;
	width:105px;
	height:30px;
	left:195px;
	top:114px;
	border:0px;
	font-family:"黑体";
	font-size:22px;
	color:#fff;
	text-align:center;
	padding-top:7px;
	background:url(../images/play_boxse.png) no-repeat;
	}
.tap_r{
	position:absolute;
	width:105px;
	height:31px;
	left:325px;
	top:114px;
	border:0px;
	font-family:"黑体";
	font-size:22px;
	color:#fff;
	text-align:center;
	padding-top:7px;
	background:url(../images/play_boxse.png) no-repeat;
	}	
.tap_h{
	position:absolute;
	width:105px;
	height:30px;
	left:195px;
	top:42px;
	border:0px;
	font-family:"黑体";
	font-size:22px;
	color:#fff;
	text-align:center;
	padding-top:7px;
	background:url(../images/play_boxse.png) no-repeat;
	}	
.tap_b{
	position:absolute;
	width:105px;
	height:30px;
	left:195px;
	top:186px;
	border:0px;
	font-family:"黑体";
	font-size:22px;
	color:#fff;
	text-align:center;
	padding-top:7px;
	background:url(../images/play_boxse.png) no-repeat;
	}		
