/* =S Css Reset
----------------------------------------------- */
body, div, h1, h2, h3, h4, h5, h6, button, input, textarea, th, td { margin: 0; padding: 0; }
body, div, button, input, select, textarea { font-size: 22px; font-family: Microsoft YaHei,sans-serif; line-height: 100%; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
a { text-decoration: none; }
fieldset, img { border: 0; }
button, input, select, textarea { font-size:100%; }

/* =S Global
----------------------------------------------- */
.item, .link, .txt-wrap, .txt, .btn, .icon, .pic, .cover, .num, .win { 
	left: 0;
	position:absolute;
	top: 0;
}
.link { z-index: 9;}
.txt { z-index: 7;}
.txt-wrap { z-index: 6;}
.icon { z-index: 5;}
.cover { z-index: 4;}
.pic { z-index: 3;}
.btn { text-align: center;}

body, .wrapper {
    height: 720px;
    width: 1280px;
    background: transparent;
    /*overflow: hidden;*/
    position: relative;
}
body {
   /* background-color: #000;*/
    color: #f0f0f0;
}
.wrapper,.pagebg {
	left: 0;
	position: absolute;
	top: 0;
}
.wrapper {
	z-index: 2;
}
.pagebg {
	z-index: 1;
}
.logo {
	left:13px;
	position:absolute; 
	top:203px; 
}

/* left ----------------------------------------------- */
.hd-left {
	background:url(../images/left-bg.png) repeat;
	left:0;
	position:absolute; 
	top:0; 
	height:720px;
	width:280px;
	z-index:3;
}
.nav {
	left:0;
	position:absolute; 
	top:259px; 
}
.nav .item {
	background:url(../images/nav-bg01.png) no-repeat;
	height:63px;
	width:230px;
	z-index:5;
}
.nav .item .txt {
	color:#c9caca;
	left:10px;
	text-align:center;
	line-height:46px;
	top:7px;
	height:46px;
	width:206px;
}
.nav .item_focus {
	background:url(../images/nav-bg01_focus.png) no-repeat;
	z-index:6;
}
.nav .item_focus .txt { 
	color:#fff;
	font-size:27px;
	line-height:46px;
	left:42px;
	top:7px;
	height:46px;
	width:155px;
}
.nav .item_select {
	background:url(../images/nav-bg01_select.png) no-repeat;
	z-index:6;
}
.nav .item_select .txt { 
	color:#fff;
	font-size:27px;
	line-height:46px;
	left:42px;
	top:7px;
	height:46px;
	width:155px;
}
.nav .btn {
	background:url(../images/nav-bg02.png) no-repeat;
	color:#000;
	left:220px;
	top:13px;
	text-align:center;
	line-height:36px;
	height:36px;
	width:60px;
	z-index:4;
}
.poster  {
	left:3px;
	position:absolute; 
	top:503px; 
}
.poster .item {
	height:98px;
	width:210px;
}
.poster .item .pic {
	left:3px;
	top:3px;
}
.poster .item .pic,
.poster .item .pic img {
	height:92px;
	width:204px;
}
.poster .item_focus {
	background:url(../images/list-pic01_focus.png) no-repeat;
}

/* mid ----------------------------------------------- */
.hd-mid {
	background:url(../images/mid-bg.png) repeat;
	left:197px;
	position:absolute; 
	top:0; 
	height:720px;
	width:201px;
	z-index:4;
}
.nav-b {
	left:0;
	position:absolute; 
	top:251px; 
}
.nav-b .item {
	background:url(../images/nav-bg03.png);
	height:75px;
	width:201px;
}
.nav-b .item .txt {
	color:#ababab;
	font-size:22px;
	text-align:center;
	line-height:44px;
	top:16px;
	height:44px;
	width:201px;
}
.nav-b .item_focus {
	background:url(../images/nav-bg03_focus.png) no-repeat;
}
.nav-b .item_focus .txt { 
	color:#fff;
	font-size:27px;
}
.nav-b .item_select {
	background:url(../images/nav-bg03_select.png) no-repeat;
}
.nav-b .item_select .txt { 
	color:#fff;
}

/* list ------------------------------------------------*/
.list {
	background:url(../images/list-bg.png) no-repeat;
	left:843px;
	position:absolute;
	top:468px;
	height:240px;
	width:425px;
}
.list .txt {
	left:65px;
	top:65px;
	width:315px;
}
.list .txt-on {
	color:#fff;
	font-size:34px;
}
.list-warp {
	background:url(../images/list-b-bg.png) repeat;
	left:364px;
	position:absolute; 
	top:0; 
	height:720px;
	width:417px;
}
.list-b {
	left:0;
	position:absolute; 
	top:75px; 
}
.list-b .item {
	height:70px;
	width:417px;
	z-index:3;
}
.list-b .item .txt {
	line-height:44px;
	left:125px;
	top:12px;
	height:44px;
	width:290px;
}
.list-b .item .txt-time {
	color:#908f8d;
	left:50px;
	height:30px;
	width:80px;
}
.list-b .item_see .txt {
	color:#908f8d;
}
.list-b .item_focus {
	background:url(../images/list-b_focus.png) no-repeat;
	z-index:4;
}
.list-b .item_focus .txt {
	font-size:26px;
}
.list-warp .btn {
	left:168px; 
	top:35px;
}
.list-warp .btn .item {
	height:34px;
	width:50px;
}
.list-warp .btn-up .item {
	background:url(../images/btn-up.png) no-repeat;
}
.list-warp .btn-up .item_focus {
	background:url(../images/btn-up_focus.png) no-repeat;
}
.list-warp .btn-up .item_no{
	background:url(../images/btn-up_none.png) no-repeat;
}
.list-warp .btn-down .item {
	background:url(../images/btn-down.png) no-repeat;
}
.list-warp .btn-down .item_focus {
	background:url(../images/btn-down_focus.png) no-repeat;
}
.list-warp .btn-down .item_no {
	background:url(../images/btn-down_none.png) no-repeat;
}
.list-warp .btn-down { top:654px;}

/* popup layer ------------------------------------------------*/
.popup-lb-warp {
	background:url(../images/trans80.png) repeat;
	left:0;
	position:absolute;
	top:0;
	height:720px;
	width:1280px;
	z-index:3;
}
.popup-lb {
	background:url(../images/popup-bg.png) no-repeat;
	left:187px;
	position:absolute;
	top:154px;
	height:412px;
	width:906px;
}
.popup-lb .txt-font {
	color:#fff;
	font-size:36px;
	line-height:66px;
	left:203px;
	top:95px;
	text-align:center;
	width:500px;
}
.popup-lb .btn {
	left:11px;
	top:311px;
}
.popup-lb .item {
	height:90px;
	width:441px;
}
.popup-lb .item .icon {
	left:105px;
	top:18px;
	height:55px;
	width:55px;
}
.popup-lb .item .txt {
	color:#363636;
	font-size:28px;
	left:195px;
	line-height:90px;
	text-align:left;
	height:90px;
	width:200px;
}
.popup-lb .item_focus {
	background-color:#2467e6;
}
.popup-lb .item_focus .txt { 
	color:#fff;
}
.popup-lb .item .icon01 {
	background:url(../images/icon01.png) no-repeat;
}
.popup-lb .item .icon02 {
	background:url(../images/icon02.png) no-repeat;
}
.popup-lb .item_focus .icon01 {
	background:url(../images/icon01_focus.png) no-repeat;
}
.popup-lb .item_focus .icon02 {
	background:url(../images/icon02_focus.png) no-repeat;
}




