/*global*/
body{ background-color:#000; font-family:SimHei,sans-serif; font-size:24px; color:#fff;  margin:0px; padding:0px; width:1280px; height:720px; position:relative;line-height: 100%;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,p,th,td {margin:0; padding:0}pre,em,i,textarea,input,font{font-size:12px; font-weight:normal; font-style:normal}img{border:0; margin:0}button, input, select, textarea{ font-size:100%;}a{ color:#fff; text-decoration: none;}
/*common*/
body { background:url(../images/bg-common.jpg) no-repeat;}
.item, .link, .txt, .pic, .btn { 
	left:0; 
	position:absolute; 
	top:0;
}
.link { z-index:4;}
.txt { z-index:3;}
.pic { z-index:2;}
.date {
	font-size:26px;
	font-weight:bold;
	line-height:34px;
	left:1158px; 
	position:absolute; 
	top:10px;
}
.page {
	font-size:30px;
	height:50px;
	line-height:50px;
	left:0; 
	position:absolute; 
	top:522px;
}
.page div {
	left:0; 
	position:absolute; 
	top:0;
}
.page div.item01 {
	text-align:center; 
	width:985px;
}
.page div.item02 {
	text-align:center; 
	width:905px;
}

/*menu*/
.menu {
	font-size:34px;
	height:59px;
	left:180px;
	position:absolute; 
	top:47px; 
	width:1078px;
}
.menu .item { left:1px;}
.menu .item, .menu .item .link, .menu .item .link img, .menu .item .txt {
	height:59px;
	line-height:59px; 
	text-align:center;
}
.menu .wid1, .menu .wid1 .link, .menu .wid1 .link img, .menu .wid1 .txt{
	width:125px;
}
.menu .wid2, .menu .wid2 .link, .menu .wid2 .link img, .menu .wid2 .txt {
	width:168px;
}
.menu .wid3, .menu .wid3 .link, .menu .wid3 .link img, .menu .wid3 .txt {
	width:216px;
}
.menu .item-select { background:url(../images/menu-bgon.jpg) repeat-x;}

/*index*/
.index-pic {
	left:44px; 
	position:absolute;
	top:121px;
	width:403px;
}
.index-pic .item,.index-pic .item .link,.index-pic .item .link img {
    height:185px;
	width:403px;
}
.index-pic .item .pic, .index-pic .item .pic img {
    height:179px;
	width:397px;
}
.index-pic .item .pic {
    left: 3px;
    top: 3px;
}
.keyword {
	font-size:20px;
	font-weight:bold;
	height:34px;
	left:505px; 
	position:absolute;
	top:121px;
	width:730px;
}
.keyword .item,.keyword .item .link,.keyword .item .link img,.keyword .item .txt {
	height:34px;
	line-height:34px; 
	text-align:center;
}
.keyword .wid1,.keyword .wid1 img {
	width:60px;
}
.keyword .wid2,.keyword .wid2 img {
	width:80px;
}
.keyword .wid3,.keyword .wid3 img {
	width:100px;
}
.index-video {
	height:383px;
	left:467px; 
	position:absolute;
	top:162px;
	width:767px;
}
.index-video .item,.index-video .item .link,.index-video .item .link img {
	height:383px;
	width:767px;
}
.index-video .item .pic{
	height:377px;
    left:3px;
    top:3px;
	width:761px;
}
.index-look-back {
	font-size:20px;
	font-weight:bold;
	height:114px;
	left:532px; 
	position:absolute;
	top:546px;
	width:702px;
}
.index-look-back .item,.index-look-back .item .link,.index-look-back .item .link img,.index-look-back .item .txt {
	height:38px;
	line-height:38px;
	width:702px;
}
.index-look-back .item .txt { 
	left:15px; 
	width:680px;
}
.notice {
	height:39px;
	left:532px; 
	position:absolute; 
	top:663px;
	width:702px;
}
.notice div.txt{
	font-weight:bold;
	height:39px;
	line-height:39px;
}

/*search*/
.hot-words {
	color:#b6b6b6;
	font-size:30px;
	font-weight:bold;
	left:45px; 
	position:absolute; 
	top:140px;
	width:250px;
}
.hot-words div {
	left:0; 
	position:absolute; 
	top:0;
}
.hot-words .title {
	color:#c0d0c2;
	height:50px;
	line-height:40px;
	left:45px; 
}
.hot-words .item {
	height:54px;
	top:50px;
}
.hot-words .item .link,.hot-words .item .link img,.hot-words .item .txt {
	height:54px;
	line-height:54px;
	width:250px;
}
.hot-words .item .txt { left:45px;}

.hot-words .line {
	background:url(../images/line.png) no-repeat;
	height:2px;
	width:250px;
}
.search-box {
	height:52px;
	left:308px; 
	position:absolute; 
	top:133px;
	width:930px;
}
.search-box .search-input {
	background:url(../images/search-input.jpg) no-repeat;
	height:51px;
	left:0; 
	position:absolute; 
	top:0;
	width:631px;
}
.search-box .search-input .link,.search-box .search-input .link img{
	height:51px;
	width:631px;
}
.search-box .search-input div.txt {
	color:#000;
	font-size:30px;
	height:41px;
	line-height:41px;
	left:20px; 
	position:absolute; 
	top:6px;
	width:598px;
}
.search-box .search-btn {
	height:52px;
	left:682px; 
	position:absolute; 
	top:0;
	width:192px;
}
.search-box .search-btn .link,.search-box .search-btn .link img,.search-box .search-btn .btn {
	height:52px;
	width:192px;
}
.search-key {
	left:308px; 
	position:absolute; 
	top:200px;
	width:930px;
}
.search-key div {
	left:0; 
	position:absolute; 
	top:0;
}
.search-key .item {
	background:url(../images/search-key-bg.jpg) no-repeat;
	color:#444;
	font-size:36px;
	font-weight:bold;	
	height:42px;
	line-height:42px;
	width:62px;
}
.search-key .link,.search-key .link img,.search-key .txt {
	height:42px;	
	text-align:center;
	width:62px;
}
.search-key .item-del {
	background:url(../images/btn-del.jpg) no-repeat;
	color:#444;
	font-size:24px;
	height:42px;
	line-height:42px;
	width:206px;
}
.search-key .item-del .link,.search-key .item-del .link img,.search-key .item-del .txt {
	height:42px;
	text-align:center;
	width:206px;
}
.search-key .item-del .txt { left:15px;}
.introduce {
	background:url(../images/search-result-bg.png) no-repeat;
	height:309px;
	left:39px; 
	position:absolute; 
	top:395px;
	width:1204px;
}
.introduce .item{
	height:40px;
	left:1px;
	position:absolute;
	top:10px; 	
	width:1204px;
}
.introduce .item .link,.introduce .item .link img,.introduce .item .txt {
	height:40px;
	line-height:40px;
	width:1200px;
}
.introduce .item .txt { 
	left:20px;
	width:1180px;
}


/*video*/
.video-nav {
	left:0; 
	position:absolute; 
	top:137px;
	width:312px;
}
.video-nav div {
	left:0; 
	position:absolute; 
	top:0;
	width:312px;
}
.video-nav .item,.video-nav .item .link,.video-nav .item .link img,.video-nav .item .txt {
	height:66px;
	line-height:66px;
	width:312px;
}
.video-nav .item .txt {
	font-size:36px;	
	font-weight:bold;
	text-align:center;
	/*left:55px;*/
}
.video-nav .line {
	background:url(../images/line2.png) no-repeat;
	height:2px;
}
.video-nav .item-select { background:url(../images/nav-bgon.jpg) repeat-x;} 
.video-list {
	left:337px; 
	position:absolute; 
	top:131px;
	width:920px;
}
.video-list .item,.video-list .item .link,.video-list .item .link img  {
	height:253px;
	width:156px;
}
.video-list .item {
	background:url(../images/video-pic-bg.png) no-repeat;
}
.video-list div.pic,.video-list div.pic img {
	height:209px;
	width:152px;
}
.video-list div.pic {
	left:2px; 
	top:2px;
}
.video-list div.txt {
	height:40px;
	line-height:40px;
	top:212px;
	text-align:center;
	width:156px;
}

/*star*/
.star-list {
	left:40px; 
	position:absolute; 
	top:124px;
	width:620px;
}
.star-list div {
	left:0; 
	position:absolute; 
	top:0;
}
.star-list .item,.star-list .item .link,.star-list .item .link img {
	height:264px;
	width:167px;
}
.star-list .item {
	background:url(../images/star-pic-bg.png) no-repeat;
}
.star-list div.pic,.star-list div.pic img {
	height:225px;
	width:163px;
}
.star-list div.pic{
	left:2px; 
	top:2px;
}
.star-list div.txt {
	height:35px;
	line-height:35px;
	top:229px;
	text-align:center;
	width:167px;
}

/*goals*/
.goals-pic-list {
	left:47px; 
	position:absolute; 
	top:121px;
	width:204px;
}
.goals-pic-list .item,.goals-pic-list .item .link,.goals-pic-list .item .link img {	
   	height:134px;
	width:204px;
}
.goals-pic-list .item .pic,.goals-pic-list .item .pic img {
    height:128px;
	width:198px;
}
.goals-pic-list .item .pic ,.goals-pic-list .item01 .pic{
	border:solid 3px #375F3C;
}
.goals-pic-list .item01 {	
	height:280px;
}
.goals-pic-list .item01 .link,.goals-pic-list .item01 .link img {	
    height:280px;
}
.goals-pic-list .item01 .pic,.goals-pic-list .item01 .pic img {
    height:274px;
}
.goals-list {
	height:580px;
	left:269px; 
	position:absolute; 
	top:126px;
	width:985px;
}
.goals-list .con {
	font-size:26px;
	left:0;
	position:absolute; 
	top:0;
}
.goals-list .item,.goals-list .item .link,.goals-list .item .link img,.goals-list .item .txt {
	height:43px;
	line-height:43px;
	width:985px;
}
.goals-list .item .txt { left:35px;}

/*archer*/
.archer-title1 {
	left:306px;
	position:absolute; 
	top:120px;
}
.archer-title2 {
	left:27px;
	position:absolute; 
	top:382px;
}
.archer-list {
	height:191px;
	left:27px;
	position:absolute; 
	top:175px;
	width:1230px;
}
.archer-list div,.archer-top div {
	left:0; 
	position:absolute; 
	top:0;
}
.archer-list .group,.archer-list .group .link,.archer-list .group .link img,.archer-list .pic,.archer-list .pic img {
	height:191px;
	width:282px;
}
.archer-top {
	height:256px;
	left:27px;
	position:absolute; 
	top:439px;
	width:785px;
}
.archer-top .link,.archer-top .link img,.archer-top .pic,.archer-top .pic img {
	height:256px;
	width:785px;
}
.archer-pic {
	left:837px;
	position:absolute; 
	top:383px;
	width:418px;
}
.archer-pic .item,.archer-pic .item .link,.archer-pic .item .link img {
	height:310px;
	width:418px;
}
.archer-pic .item .pic,.archer-pic .item .pic img {	
    height:294px;
	width:402px;
}
.archer-pic .item .pic img{
	border:solid 8px #0e7fba;
}

/*dibbling*/
.dibbling-sub {
	height:40px;
	left:180px;
	position:absolute; 
	top:126px;
	width:620px;
}
.dibbling-sub div {
	left:0;
	position:absolute; 
	top:0;
}
.dibbling-sub .item {
	font-size:30px;
	height:40px;
	left:0;
	width:230px;
}
.dibbling-sub .item .link,.dibbling-sub .item .link img,.dibbling-sub .item .txt {
	height:40px;
	line-height:40px;
	text-align:center;
	width:230px;
}
.dibbling-sub div.item-select {
	background:url(../images/dibbling-subbg.png) no-repeat;
}
.dibbling-recommend {	
	left:70px;
	position:absolute; 
	top:212px;	
}
.dibbling-recommend .item,.dibbling-recommend .item .link,.dibbling-recommend .item .link img {	
 	height:211px;
	width:545px;
}
.dibbling-recommend .item .pic,.dibbling-recommend .item .pic img {
    height:205px;
	width:539px;
}
.dibbling-recommend .item .pic {
    border:solid 3px #82A187;
}
.knockout-list {	
	left:30px;
	position:absolute; 
	top:245px;
	width:1220px;	
}
.knockout-list .item {
	height:44px;
	line-height:42px;
	left:0;
	position:absolute; 
	top:0;
	text-align:center;
	width:226px;
}
.knockout-list .item .link,.knockout-list .item .link img,.knockout-list .item .txt {	
    height:42px;
	width:226px;
}

.knockout-list .item01 {
	background:url(../images/knockout-name-bg1.png) no-repeat;
}
.knockout-list .item02 {
	background:url(../images/knockout-name-bg2.png) no-repeat;
}
.knockout-list .item03 {
	background:url(../images/knockout-name-bgon.png) no-repeat;
}


/*detail*/
.detail-catalog, .detail-title {
	height:62px; line-height:62px;
	position:absolute; 
	top:6px;
}
.detail-catalog {
	font-size:30px;
	left:50px;
}
.detail-title {
	font-size:36px;
	font-weight:bold;
	left:1058px;
}
.detail-intro {
	left:45px;
	position:absolute; 
	top:80px;
	width:920px;
}
.detail-intro div {
	left:0;
	position:absolute; 
	top:0;
}
.detail-intro div.txt01 {
	width:660px;
	top:10px;
}
.detail-intro div.txt02 {
	height:138px;
	width:920px;
}
.detail-intro .con {
	font-size:30px;
	height:46px;
	line-height:46px;
	top:5px;
	width:300px;
}
.detail-intro .btn {
	left:686px;
	top:5px;
}
.detail-intro .btn .item .pic,.detail-intro .btn .item .pic img,.detail-intro .btn .item .link,.detail-intro .btn .item .link img {
	height:48px;
	width:244px;
}
.detail-intro .poster {
	left:955px;
}
.detail-intro .poster .item ,.detail-intro .poster .item img  {
	height:288px;
	width:209px;
}
.detail-intro .poster .item {
	border:solid 4px #B4CEB9;
}
.detail-intro .num {
	font-weight:bold;
	height:55px; 
	line-height:55px;
	top:315px;
}
.detail-intro div {
	left:0; 
	position:absolute; 
	top:0;
}
.detail-intro .num .tit {
	font-size:36px;
	width:140px;
}
.detail-intro .num .item{
	background:url(../images/detail-numbg.png) no-repeat;
	font-size:42px;
	height:55px;
	line-height:55px;	
	width:85px;
}
.detail-intro .num .item { left:145px;}
.detail-intro .item .link,.detail-intro .item .link img,.detail-intro .num .item .txt {	
    height:55px;
	text-align:center;
	width:85px;
}

.detail-recommend {
	left:66px;
	position:absolute; 
	top:499px;
}
.detail-recommend .item,.detail-recommend .item .link,.detail-recommend .item .link img {		
	height:198px;
	width:145px;
}
.detail-recommend .item .pic,.detail-recommend .item .pic img {	
    height:194px;
	width:141px;
}
.detail-recommend .item .pic { border:solid 2px #fff;}


/*Prompted*/
.system-error {
	left:0; 
	position:absolute; 
	top:172px;
	text-align:center;
	width:640px;  
}
.system-error div,.play-prompted div { 
	left:0; 
	position:absolute; 
	top:0; 
}
.system-error .tit01 {
	color:#f0f0f0;
	font-size:28px;
	height:32px;
	line-height:32px;
	width:640px; 
}
.system-error .tit01 .icon {
	left:210px;
	width:32px; 
}
.system-error .tit01 .txt {
	left:40px;
	width:600px; 
}
.system-error .tit02 {
	color:#7fa1cb;
	font-size:20px;
	top:50px;  
	width:640px; 
}
.system-error .btn {
	color:#f0f0f0;
	font-size:24px;
	top:123px; 
}
.system-error .btn {
	height:43px;
	left:254px;
	top:123px;
	width:132px; 
}
.system-error .btn .link,.system-error .btn .link img,.system-error .btn .txt{
	height:40px;
	width:132px; 
}
.system-error .btn .txt {
	background:url(../images/btn-pop-bg01.png) no-repeat;
	color:#f0f0f0;
	font-size:24px;
	line-height:40px;
	text-align:center;
}
.play-prompted {
	left:0; 
	position:absolute; 
	top:153px;
	text-align:center;
	width:640px;  
}
.play-prompted .tit01 ,.play-prompted .tit01 .txt,.play-prompted .tit01 .txt02 {
	font-size:30px;
	font-weight:bold;
	width:640px; 
}
.play-prompted .tit01 .txt02 { font-size:36px;}
.play-prompted .tit02 {
	color:#7cc9e6;
	font-size:20px;
	font-weight:bold;
	top:45px;  
	width:640px; 
}
.play-prompted .btn {
	height:43px;
	left:218px;
	top:127px;
	width:92px; 
}
.play-prompted .btn .link,.play-prompted .btn .link img,.play-prompted .btn .txt{
	height:40px;
	width:92px; 
}
.play-prompted .btn .txt {
	background:url(../images/btn-pop-bg02.png) no-repeat;
	color:#f0f0f0;
	font-size:26px;
	line-height:40px;
	text-align:center;
}
.play-prompted .btn-select .txt {
	font-weight:bold;
}
.play-popup { 
	background:url(../images/popup-bg01.png) no-repeat;
	height:145px;
	left:217px; 
	position:absolute; 
	top:160px;  
	width:206px;  
	z-index:9;
}
.play-popup02 { 
	background:url(../images/popup-bg02.png) no-repeat;
	left:105px; 
	width:428px;  
}
.play-popup .btn {
	height:43px;
	left:35px;
	top:25px;
	width:132px; 
}
.play-popup .btn .link,.play-popup .btn .link img,.play-popup .btn .txt{
	height:40px;
	width:132px; 
}
.play-popup .btn .txt {
	background:url(../images/btn-pop-bg01.png) no-repeat;
	color:#f0f0f0;
	font-size:26px;
	line-height:40px;
	text-align:center;
}
.play-popup .btn-select .txt {
	font-weight:bold;
}
.play-popup .btn02 {
	left:28px;
	width:112px; 
}
.play-popup .btn02 .txt {
	background:url(../images/btn-pop-bg03.png) no-repeat;
	color:#f0f0f0;
	font-size:26px;
	line-height:40px;
	text-align:center;
}
.play-popup .btn02 .link,.play-popup .btn02 .link img,.play-popup .btn02 .txt{
	height:40px;
	width:112px; 
}
.play-popup .btn03 .txt {
	background:url(../images/btn-pop-bg04.png) no-repeat;
	color:#192542;
}


/*popup*/
.pop-full-screen {	
	background:url(../images/pop-full-bg.png);
	height:720px;
	left:0; 
	position:absolute; 
	top:0;  
	width:1280px;
	z-index:8;
}
.popup { 
	background:url(../images/pop-bg.png) no-repeat;
	font-size:26px;
	height:275px;
	left:390px; 
	position:absolute; 
	top:185px;  
	width:500px;  
	z-index:9;
}
.pop_title {
	font-size:30px;
	left:20px; 
	position:absolute;
	text-align:center;
	top:52px; 
	width:475px; 
}
.pop_title2 { 
	font-size:30px;
	left:20px; 
	position:absolute;
	text-align:center;
	top:52px; 
	width:475px; 
}
.pop_tip { 
	left:60px;
	line-height:36px; 
	position:absolute;
	text-align:center; 
	top:35px;
	width:380px; 
}
.pop_btns { 
	left:30px;
	position:absolute; 
	top:115px;  
	width:420px;
}
.pop_btns div { 
	height:35px;
	position:absolute;
	top:0;	
}
.pop_btns .btn01 { 
	background:url(../images/btn_bg.png) no-repeat;
	text-align:center; 
	width:155px;
}
.pop_btns .btn01 .link, .pop_btns .btn01 .link img, .pop_btns .btn01 .txt {
	height:35px;
	line-height:35px;
	width:155px;
}



